<!DOCTYPE html>
<html>
  <head>
    <title>Immortals | Lion Dance</title>
    <%= render 'welcome/header' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id='remote_container'></div>
    <%= yield %>
  </body>
</html>
